<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuanqihou.crm.mapper.AccountMapper">

    <!--根据账户名和密码查询账户是否存在-->
    <select id="selectAccountByLogin" resultType="account" parameterType="accountDto">
        select id, username, pwd, img_url, role, state, create_time, update_time from account where username=#{username} and pwd=#{pwd}
    </select>

    <!--分页查询-->
    <select id="selectAccountByPage" resultType="account">
        select id, username, pwd, img_url, role, state, create_time, update_time from account
    </select>

    <!--根据id删除账户【单个删除】-->
    <delete id="deleteAccountById">
        delete from account where id=#{id}
    </delete>

    <!--重置账户密码-->
    <update id="updateAccountPwdById">
        update account set pwd='b65c7c4eb49eb6f0acd7a05f125e8029',update_time=now() where id=#{id}
    </update>

    <!--新增账户-->
    <insert id="insertAccount">
        insert into account (username, pwd, role, create_time,state,img_url)
        values (#{username},'b65c7c4eb49eb6f0acd7a05f125e8029',2,now(),1,'default.jpg')
    </insert>

    <!--根据账户id查询账户信息-->
    <select id="selectAccountById" resultType="account">
        select id, username, pwd, img_url, role, state, create_time, update_time from account where id=#{id}
    </select>

    <!--根据账户Id修改账户状态-->
    <update id="updateAccountState">
        update account set state=#{state} where id=#{id}
    </update>

    <!--根据账户id修改头像-->
    <update id="updateAccountHeadImg">
        update account set img_url=#{imgUrl} where id=#{id}
    </update>

    <!--根据用户id修改用户密码-->
    <update id="updateAccountPasswordById">
        update account set pwd=#{pwd} where id=#{id}
    </update>

</mapper>