<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../resources/element-ui/lib/theme-chalk/index.css">
    <script src="../../resources/js/vue.js"></script>
    <script src="../../resources/element-ui/lib/index.js"></script>
    <script src="../../resources/js/axios.js"></script>
</head>
<body>

    <div id="app">

        <el-upload
                class="upload-demo"
                drag
                action="/crm/upload/uploadHeadImg.do"
                multiple
                :before-upload="beforeUpload"
                :on-success="onsuccessUpload"
        >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
            <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
        </el-upload>

    </div>

<script>

    var app = new Vue({
        el:"#app",
        data:{
            imgUrl:undefined
        },
        methods:{
            beforeUpload(file){
                let size = file.size/1024/1024;
                if (size > 1) {
                    this.$message("文件大小不能超过1MB")
                }
            },
            onsuccessUpload(response, file, fileList){
                console.log(response)
                if(response.code===200){
                    let userStr = window.localStorage.getItem("user");
                    let user = JSON.parse(userStr);
                    user.imgUrl = response.data.toString();
                    window.localStorage.setItem("user",JSON.stringify(user))
                    this.$notify({
                        title:"温馨提示",
                        message:"上传成功",
                        type:"success"
                    })
                }else{
                    this.$notify({
                        title:"温馨提示",
                        message:"上传失败",
                        type:"warning"
                    })
                }
            }
        }
    })

</script>
</body>
</html>