<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" href="../../resources/element-ui/lib/theme-chalk/index.css">
    <script src="../../resources/js/vue.js"></script>
    <script src="../../resources/element-ui/lib/index.js"></script>
    <script src="../../resources/js/axios.js"></script>
</head>
<body>

<div id="app">
</div>

<script>
    var app = new Vue({
        el:"#app",
        data:{
        },
        methods:{

        }
    })
</script>

</body>
</html>